header, section, footer, aside, nav, article, figure, figcaption
{
    display: block;
}

@font-face
{
    font-family: 'Roboto';
    src: url('robotoslab-regular.eot');
    src: url('robotoslab-regular.eot?#iefix') format('embedded-opentype'), url('robotoslab-regular.woff') format('woff'),
    url('RobotoSlab-Regular.ttf') format('truetype'), 
    url('robotoslab-regular.svg#Roboto') format('svg');
}

body
{
    font-family: Roboto, cursive;
    font-size: 20px;
    text-align: center;
    background-color: #FEFC8C;
    overflow: scroll;
}

header
{
    border-style: double;
    border-color: black;
    border-radius: 10px;
}

h1
{
    font-size: 44px;
    word-spacing: 0.2em;
    color: red;
}

h2
{
    font-size: 28px;
    word-spacing: 0.15em;
    text-transform: uppercase;
}

a
{
    text-decoration: none;
    color: blue;
}

a:visited
{
    color: purple;
}

a:hover
{
    text-decoration: underline;
    color: lawngreen;
}

figure
{
    float: left;
    width: 500px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
}

figure.even
{
    float: right;
}

article>p
{
    text-align: left;
    margin: 20px;
}

article
{
    clear: both;
    overflow: auto;
    width: 100%;
    border-radius: 10px;
}

#one
{
    background-color: #DDFBF6;
}

#two
{
    background-color: #B7FE8C;
}

#three
{
    background-color: #FFB39D;
}

#four
{
    background-color: #D2C2F9;
}

#one>figure
{
    background-color: #94F6A2;
}

#two>figure
{
    background-color: #F6BCFD;
}

#three>figure
{
    background-color: #DDF8F6;  
}

article.center
{
    text-align: center;
}

article.center>p
{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.column1of3
{
    width: 31%;
    float: left;
    margin: 10px;
    text-align: justify;
}

.column2of3
{
    width: 30%;
    float: left;
    margin: 10px;
    text-align: justify;
}

.column3of3
{
    width: 30%;
    float: left;
    margin: 10px;
    text-align: justify;
}

#source
{
    float: right;
    font-size: 16px;
}

figcaption
{
    font-size: 16px;
}